---
layout: default
title: Spring Rolls
---
<!DOCTYPE html>
<html>
	<head>
		<title>Spring Rolls</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
	</head>
	<body>
		{% include header.html %}

		<section>
			<p>
				<img src="spring-rolls.jpg">
			</p>
			<p>
				Spring rolls are delivered every other Friday by Sandeep and can be found where The Internet used to live. <br />
				The roll-call of previous sponsors are included in the calendar below.	
			</p>
		</section>

		<section>
			<h2>News</h2>
			<p>
				<a href="poll.html">Vote</a> for the number of spring rolls you think would be enough
			</p>
		</section>

		<aside>
			<h2>Fact</h2>
			<img src="londonsweetcentre.jpg">
			<p>The spring rolls come from the London Sweet Centre, which isn't in London and doesn't sell sweets!</p>
			<p>The shop is actually in sunny Bedford and opens at 9:30am. It takes 40 minutes to heat the oil used to cook the spring rolls, so they have to start extra early on Spring Roll Fridays!</p>
			<p>
		</aside>

		<section>
			<h2>Upcoming Dates</h2>
			<p>
				<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=dqv0hmiqq2sn6tf83olt9j3gsg%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
			</p>
		</section>

		{% include footer.html %}
	</body>
</html>
