body {
	font-family: 'Cabin Sketch', cursive; 
	font-size: 18px;
	width: 940px;
	margin: 0 auto;
	margin-top: 80px;
}
h1, h2 {color:#444; margin-bottom:0;}
h1 {font-size: xx-large;}
h2 {font-size:large;}
header {
	position: fixed;
	top: 0;
	background-image: linear-gradient(to bottom, #555, #444);
	width: 100%;
	left: 0;
	color: #FFF;
	box-shadow: #666 0 2px 14px;
	padding: 10px;
}
header .contents {
	position:relative;
	width:940px;
	margin: 0 auto;
}
header h1 {
	color: #EEE;
	text-shadow: #000 0 0 4px;
	margin: 0;
}
header p {color:#DC934F; margin: 0; font-size:x-small; font-weight: bold;}
footer {text-align: center;}
section {margin: 8px 0 8px 0;}
header nav ul {
	margin: 0;
	padding: 15px;
	padding-right: 50px;
	font-size: 1.5em;
	position: absolute;
	right: 0;
	top: 0;
}
header nav li {
	display:inline;
	padding-left:10px;
}
header a {
	text-decoration: none;
	color: #FFF;
}
header a:hover {
	color:#DC934F;
}